<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="AfriCC/EPP Test Suite">
            <directory suffix="Test.php">./tests</directory>
            <directory suffix="Test5x.php" phpVersion="7.1.0" phpVersionOperator="&lt;">./tests</directory>
            <directory suffix="Test7x.php" phpVersion="7.1.0" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
